- entry = present(entry, self)
%article
  %header
    %p
      %time{pubdate: "pubdate"}= entry.pubdate
    %h3= entry.title
  %p= entry.render_body
  %p.entry_tags
    Tags
    %span.tags= Taggable(entry).tags
